language: python
python:
  - "3.6"      # current default Python on Travis CI
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script:
  - pylint -d C0301,W0511,C0111,R0201 src/ test/
  - pytest
